# Arquivos gerados pelo Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Logs
*.log

# Arquivos de IDE
.idea/
.vscode/
*.iml

# Arquivos do Maven Wrapper (não são necessários dentro do container)
.mvn/
mvnw
mvnw.cmd

# Arquivos Git
.git
.gitignore

# Configurações do Docker
Dockerfile
.dockerignore